@import "tailwindcss";

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background: rgba(220, 225, 193, 0.452);
  font-family: "Open Sans", sans-serif;
}

nav {
  /* position: sticky;
  top: 0;
  z-index: 1000;
  background: #f5f5f5;
  height: 70px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px;
  border: 1px solid rgba(238, 224, 224, 0.5);
  box-shadow: 0 4px 4px 0 rgba(238, 224, 224, 0.5);
  z-index: 50; */
}

.logo {
  margin-left: 20px;
}

.logo-img {
  height: 50px;
  width: 50px;
}

.logo-name {
  font-size: 20px;
  font-weight: 700;
}
.btn-section {
  margin-right: 30px;
}

.contact-btn {
  margin-left: 40px;
}

.home-img-div {
  height: 200px;
  position: relative;
}

.home-img-div > * {
  position: absolute;
  height: 100%;
}

.home-img-row-1 > :nth-child(-n + 3) {
  height: 200px;
  width: 250px;
  border-radius: 60% 0;
  height: 200px;
  width: 250px;
}

.home-img-row-1 img {
  height: 200px;
  width: 250px;
  object-fit: cover;
}

.home-img-row-2 div:nth-child(n + 2) {
  right: 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.home-img-row-2 img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.home-img-row-3 img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.home-img-row-3 > :nth-child(n + 2):nth-child(-n + 3) {
  height: 200px;
  width: 70px;
}

#services {
  background: rgb(13, 37, 13);
  color: azure;
}

.white-line {
  border: none;
  height: 1px;
  background-color: white;
  width: 100%;
}

.service-list-item {
  height: 200px;
}
